# Ignore everything by default
*

# But allow this gitignore file itself
!.gitignore
!README.md

# Allow src files
!src/

# Allow core files and folders
!src/frontend/
!src/frontend/Dockerfile
!src/frontend/app.js
!src/frontend/index.html
!src/frontend/nginx.conf.template
!src/frontend/style.css

# Backend API
!src/backend_api/
!src/backend_api/app/
!src/backend_api/app/app.py
!src/backend_api/app/__init__.py
!src/backend_api/Dockerfile
!src/backend_api/requirements.txt
!src/backend_api/setup.py

#helm files
!helm/
!helm/backend
!helm/backend/templates
!helm/frontend
!helm/frontend/templates
!helm/kafka
!helm/kafka/Dockerfile.connect
!helm/mongodb
!helm/mongodb/mongo-sink.json
!*.yaml


# Prevent common junk
**/__pycache__/
**/*.pyc
node_modules/
frontend/node_modules/
frontend/dist/
.venv/
*.log
*.env

